.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.seasonInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
}
.seasonInfo h2{
    font-size: 3em;
    font-weight: bolder;
    font-style: italic;
}
.standings{
    display: flex;
    position: relative;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}
.partition{
    padding: 0 10px;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    margin-bottom: 40px;
    min-width: 350px;
    max-width: calc(100%/2);
    width: 100%;
}
.partition h2{
    text-align: center;
}
.border{
    position: absolute;
    left: 50%;
    top: 10%;
    height: 80%;
    margin: auto;
    width: 0;
}