.nationality {
    font-size: 15px;
}

.seasonTitle {
    margin: 15px 0px;
}

.drivers {
    margin: 15px 0px;
}

.drivers li {
    list-style: inside;
}

.stats {
    margin: 15px 0px;
}

.stat {
    border: 1px solid grey;
}


.previousData {
    margin-top: 20px;
}


.previousYearsChampionship {
    border: 2px solid blue;
}

.previousMatchBestFinishPosition {
    border: 2px solid yellow;
}