.teamsTitle {
    margin-bottom: 30px;
}


.row {
    float: none;
    display: table;
    width: 100%;
}

.seasonSelection {
    max-width: 500px;
}

.submitButton {
    float: left;
    width: 20%;
    height: 40px;
    font-weight: bold;
    background: #EE0000;
    outline: none;
    border: var(--f1-red-color);
    cursor: pointer;
}

.submitButton:hover {
    background: var(--global-background);
}

.dropDown {
    width: 80%;
    float: left;
    padding: 0 10px;
    background: #494949;
    border: 1px solid #363636;
    color: white;
    height: 40px;
    outline: none;
    font-size: 1em;
}

.dropDown:focus, .dropDown:active, .dropDown:focus-visible {
    border: 1px solid #363636;
}

.styles {
    float: none;
}

.seasonResults {
    margin-top: 30px;
}