.formLabel {
    font-size: 1em;
}
.headingContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headings {
    margin: 20px 0;
}
.toggleOutlier{
    color: white;
    font-size: 1em;
    height: 40px;
    padding: 0 20px;
    border-radius: 0;
    background: #494949;
    border: 1px solid #363636;
    outline: none;
}
.toggleOutlier:hover{
    cursor: pointer;
}

.dropDown {
    width: 260px;
    padding: 0 10px;
    background: #494949;
    border: 1px solid #363636;
    color: white;
    height: 40px;
    outline: none;
    margin-right: 20px;
    font-size: 1em;
}

.dropDown:focus, .dropDown:active, .dropDown:focus-visible {
    border: 1px solid #363636;
}

.tableContainer {
    user-select: none;
    width: 100%;
    height: 440px;
    overflow: hidden;
    overflow-y: scroll;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: #262626;
}

.table td, .table th {
    padding: 0 14px;
}

.table td {
    border: 0px;
}

.tableHeader {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    text-align: left;
    height: 44px;
    background: #494949;
}

.tableRow {
    border-bottom: 1px solid #363636;
    height: 40px;
}

.tableRow:hover {
    background: #363636;
}

.chartBorder {
    border: 1px solid #363636;
}

.gpInfo {
    margin: 60px auto 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.gpDate{
    display: flex;
    justify-content: space-between;
}

.gpInfo p{
    font-size: 1.2em;
    font-style: italic;
    margin: 0;
}
.weather{
    font-style: normal!important;
}

.gpInfo h2{
    font-size: 3em;
}
